:root {
    --main-bg-placeholder: beige;
    --el-bg-placeholder: gray;
    --front-bg-placeholder: whitesmoke;
    --back-bg-placeholder: brown;

}

html,
body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--main-bg-placeholder);

    /* overflow: hidden; for max size but will be different for responsiveness*/
}

main {
    width: 600px;
    height: 600px;
    display: flex;
    justify-content: space-evenly;

    background-color: var(--el-bg-placeholder);
    border-radius: 30px;

}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    flex: 1 1;
    padding: 20px;

    /* width: fit-content;
    width: -moz-fit-content;
    height: fit-content; */
}

.front-face {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 25px;
    background-color: var(--main-bg-placeholder);
}


.memory-card {
    height: 270px;
    width: 270px;
    border-radius: 25px;
    background-color: var(--front-bg-placeholder);
    box-shadow: -4px 4px;
    margin: 5px;
    position: relative;
    /* transform-style: preserve-3d;
    transform: scale(1); */
}

/* when you hover over the memory card */
.memory-card:hover {
    /* the cursor turns into a pointer */
    cursor: pointer;

}

.memory-card:active {
    /* on click the card will shrink */
    transform: scale(0.90);
    transition: transform .2s;
}